* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Euclid Circular A", "Poppins";
}

.page.carousel-1-page {
  
  position: relative;
  display: flex;
  align-items: center;
  gap: 50px;
  padding: 0 8vw;
  background-color: #191919;
  color: #f9f9f9;
  position: relative;
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 1s ease-in-out, transform 1s ease-in-out;
}

.page.carousel-1-page.animate {
  opacity: 1;
  transform: translateX(0);
}

.swiper .explore p {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  color: #717171;
  font-weight: 500;
  background: #fff;
  border-radius: 3.125rem;
  margin: 0 auto;
  padding: 10px 26px;
  font-size: 0.9rem;
  transition: 0.3s ease-in-out;
}

.swiper {
  width: 100%;
  max-width: 1200px;
  height: 500px;
}

.swiper-slide {
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
  filter: grayscale(0.6);
  background-size: cover;
  background-position: center;
}

.swiper-slide h2 {
  color: #fff;
  font-weight: 100;
  font-size: 20px;
  line-height: 1.4;
  margin-bottom: 0.625rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  text-align: center;
}

.swiper-slide a:hover {
  color: #005baa;
}

.swiper-slide div {
  position: absolute;
  z-index: 1;
  inset: 0;
  background: linear-gradient(rgb(0 0 0 / 0%) 55%, rgb(0 0 0 / 80%));
  transition: 0.25s;
  opacity: 0;
  align-self: stretch;
  padding-bottom: 70px;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}

.swiper-slide-active div {
  opacity: 1;
}

.swiper-slide > div > div {
  translate: 0 100px;
  transition: 0.3s;
}

.swiper-slide-active > div > div {
  translate: 0;
}

.swiper-pagination-bullet,
.swiper-pagination-bullet-active {
  background: #fff !important;
}

.swiper-pagination {
  bottom: 10px !important;
  transform: scale(1.3);
}
@media(max-width:500px){
  .page.carousel-1-page{
    margin-top:40px;
  }
}